.back {
   background-color: black;
}

.paper {
    height: 95vh;
    margin-top: 1rem;    
}
.header {
    margin-top: 1rem;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 6rem;

   
}
.mash {
    display: flex;
    justify-content: center;
    
}
.container {
    display: flex;
    justify-content: center;
    background-image: url("./images/paper.png"); height: 99vh; width: 65vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
.spouse {
    display: flex;
    justify-content: flex-start;
    height: 2rem;
    margin-top: 40rem;
}




















